{% extends 'base.html' %}

{% block start %}

{%load static%}



<div class="py-5 bg-dark hero-header mb-5">
    <div class="container  my-5 pt-5 pb-4">
        <div class="col-md-5 m-auto nav_bg_clr d-flex align-items-center  wow fadeInDown">
            <div class="p-5" data-wow-delay="0.2s">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <h3 class="text-center fw-normal ff-secondary text-danger mb-5 ">Update Your Booking</h3>

                    
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="name" placeholder="No Of People">
                                    <label for="name">No Of People</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="name" placeholder="Mobile Number">
                                    <label for="name">Mobile Number</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="name" placeholder="Your Email">
                                    <label for="name">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="date" class="form-control" id="name" placeholder="Date">
                                    <label for="name">Date</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="time" class="form-control" id="name" placeholder="Time">
                                    <label for="name">Time</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                    <label for="message">Special Request</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-danger w-100 py-3" type="submit">Update Booking</button>
                            </div>
                        </div>
                    

                    
                </form>
            </div>
        </div>
    </div>
</div>
</div>





{% endblock %}